@font-face {
  font-family: "Myfont";
  src: url(./assets/fonts/DMSans-VariableFont_opsz\wght.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Myfont2";
  src: url(./assets/fonts/DMSans-Italic-VariableFont_opsz\wght.ttf);
  font-weight: normal;
}

html,
body {
  max-width: 100vw; /* 100% of the viewport width */
  min-height: 100vh; /* At least 100% of the viewport height */
  font-size: 15px;
  font-family: "Myfont";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

main {
  max-width: 65%;
  /* border: 2px solid black; */
  display: grid;
  gap: 10px;
  padding: 10px;
}

div {
  /* border: 2px solid black; */
  min-width: 1em;
}

.first-card {
  padding: 25px;
  text-align: center;
  background-color: hsl(256, 67%, 59%);
  border-radius: 5px;
  border: 1px solid hsl(256, 67%, 59%);
  color: white;
}

.first-card > h1 > span {
  color: hsl(39, 100%, 71%);
}
.first-card > h1 {
  /* border: 2px solid black; */
  font-size: 2em;
  line-height: 28px;
}
.first-card > img {
  /* border: 2px solid black; */
  width: 8em;
}

.first-card > p {
  /* border: 2px solid black; */
  margin-top: -2px;
  font-size: 1em;
}

.second-card {
  padding: 10px;
  background-color: white;
  border: 2px solid white;
  border-radius: 5px;
}

.second-card > h2 {
  font-size: 1.2em;
}

.second-card > img {
  width: 12em;
}

.third-card {
  padding: 10px;
  max-height: 7.5em;
  overflow: hidden;
  background-color: hsl(39, 100%, 71%);
  border: 2px solid hsl(39, 100%, 71%);
  border-radius: 10px;
}

.third-card > h2 {
  font-size: 1.2em;
  margin-top: -5px;
  /* border: 2px solid black; */
  max-width: 10em;
  line-height: 1em;
}

.third-card > img {
  width: 8em;
  margin-top: -5px;
}

.fourth-card {
  padding: 10px;
  text-align: center;
  background-color: hsl(254, 88%, 90%);
  border: 2px solid hsl(254, 88%, 90%);
  border-radius: 10px;
}

.fourth-card > h2 {
  font-size: 1em;
  margin-top: -1px;
}

.fourth-card > img {
  width: 12em;
}

.fourth-card > p {
  font-size: 0.9em;
}

.fifth-card {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: hsl(256, 67%, 59%);
  /* border: 2px solid hsl(256, 67%, 59%); */
  border-radius: 10px;
}

.fifth-card > img {
  width: 8em;
  margin: auto;
}

.fifth-card > h2 {
  text-align: center;
  /* border: 2px solid black; */
  max-width: 7em;
  margin: auto;
  line-height: 1em;
  font-size: 1.2em;
  color: white;
}

.sixth-card {
  padding: 10px;
  background-color: white;
  border: 2px solid white;
  border-radius: 10px;
}

.sixth-card > h1 {
  font-size: 2em;
  margin-top: -5px;
}

.sixth-card > p {
  margin-top: -20px;
  /* border: 2px solid black; */
}

.sixth-card > img {
  width: 10em;
}

.seventh-card {
  padding: 10px;
  background-color: hsl(31, 66%, 93%);
  border: 2px solid hsl(31, 66%, 93%);
  border-radius: 10px;
}

.seventh-card > h1 {
  line-height: 0.9em;
  font-size: 1.5em;
}

.seventh-card > img {
  width: 8em;
}

.eight-card {
  background-color: hsl(39, 100%, 71%);
  border: 2px solid hsl(39, 100%, 71%);
  border-radius: 10px;
  padding: 10px;
}

.eight-card > h1 {
  font-size: 1.2em;
  max-width: 10em;
  margin-top: -5px;
}

.eight-card > img {
  width: 10em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 40em) {
  body {
    background-color: blueviolet;
  }
  main {
    width: 80%;
    /* border: 2px solid black; */
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 25%);
    grid-template-areas:
      "gg aa aa dd"
      "hh bb cc dd"
      "hh ff ee ee";
  }

  .first-card {
    grid-area: aa;
    /* border: 2px solid black */
  }

  .second-card {
    grid-area: bb;
    /* border: 2px solid black; */
    max-height: 7.8em;
  }

  .third-card {
    grid-area: cc;
    /* border: 2px solid black; */
  }

  .fourth-card {
    grid-area: dd;
    border: 2px solid black;
  }

  .fifth-card {
    grid-area: ee;
    display: flex;
    flex-direction: row;
    /* border: 2px solid black; */
  }

  .fifth-card > h2 {
    /* border: 2px solid black; */
    margin-left: -20px;
    font-size: 1.5em;
  }

  .sixth-card {
    grid-area: ff;
    /* border: 2px solid black; */
  }

  .sixth-card > img {
    width: 5em;
  }

  .sixth-card > h1 {
    font-size: 1.5em;
    margin-bottom: 15px;
  }

  .sixth-card > p {
    font-size: 0.8em;
  }

  .seventh-card {
    grid-area: gg;
    /* border: 2px solid black; */
  }

  .eight-card {
    grid-area: hh;
    /* border: 2px solid black; */
  }
}

@media (min-width: 60em) {
  body {
    background-color: aqua;
  }
  main {
    max-width: 50%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    border: 2px solid black;
  }

  .seventh-card {
    padding: 10px;
    background-color: hsl(31, 66%, 93%);
    border: 2px solid hsl(31, 66%, 93%);
    border-radius: 10px;
  }

  .seventh-card > h1 {
    /* border: 2px solid black; */
    max-width: 85%;
    line-height: 0.9em;
  }

  .seventh-card > img {
    width: 90%;
  }

  .first-card {
    padding: 25px;
    text-align: center;
    background-color: hsl(256, 67%, 59%);
    border-radius: 5px;
    border: 1px solid hsl(256, 67%, 59%);
    color: white;
  }

  .first-card > h1 > span {
    color: hsl(39, 100%, 71%);
  }
  .first-card > h1 {
    /* border: 2px solid black; */
    font-size: 2em;
    /* font-size: clamp(3em, 2vw, 1em); */
    line-height: 30px;
    max-width: 85%;
    margin: auto;
    margin-bottom: 40px;
    font-family: "Myfont2", "san serif";
  }
  .first-card > img {
    /* border: 2px solid black; */
    width: 10em;
  }

  .first-card > p {
    /* border: 2px solid black; */
    margin-top: -2px;
    font-size: 1em;
  }
  .fourth-card {
    padding: 10px;
    text-align: left;
    background-color: hsl(254, 88%, 90%);
    border: 2px solid hsl(254, 88%, 90%);
    border-radius: 10px;
    overflow: hidden;
    max-height: 30em;
  }

  .fourth-card > h2 {
    font-size: 20px;
    margin-top: 10px;
  }

  .fourth-card > p {
    font-size: 12px;
    text-align: left;
  }

  .second-card {
    padding: 10px;
    background-color: white;
    /* border: 2px solid white; */
    border-radius: 5px;
    overflow: hidden;
    /* max-height: 10em; */
  }

  .second-card > h2 {
    font-size: 1em;
  }

  .second-card > img {
    width: 12em;
  }

  .third-card {
    padding: 10px;
    max-height: 8em;
    overflow: hidden;
    background-color: hsl(39, 100%, 71%);
    /* border: 2px solid hsl(39, 100%, 71%); */
    border-radius: 10px;
  }

  .third-card > h2 {
    font-size: 1em;
    margin-top: -5px;
    /* border: 2px solid black; */
    max-width: 8em;
    line-height: 1em;
  }

  .third-card > img {
    width: 8em;
    margin-top: -5px;
  }

  .fifth-card {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: hsl(256, 67%, 59%);
    border: 2px solid hsl(256, 67%, 59%);
    border-radius: 10px;
  }

  .fifth-card > img {
    width: 5em;
  }

  .fifth-card > h2 {
    text-align: left;
    /* border: 2px solid black; */
    max-width: 7em;
    line-height: 1em;
    font-size: 1.2em;
    color: white;
  }

  .sixth-card {
    padding: 10px;
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
  }

  .sixth-card > h1 {
    font-size: 1.5em;
    margin-top: -5px;
  }

  .sixth-card > p {
    margin-top: -20px;
    /* border: 2px solid black; */
    font-size: .8em;
  }

  .sixth-card > img {
    width: 6em;
  }

  .eight-card {
    background-color: hsl(39, 100%, 71%);
    border: 2px solid hsl(39, 100%, 71%);
    border-radius: 10px;
    padding: 10px;
  }

  .eight-card > h1 {
    font-size: 1.5em;
    max-width: 6em;
    margin-top: -5px;
  }

  .eight-card > img {
    width: 9em;
  }
}
